name: Minecraft Server Free

on:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Java 17
        run: sudo apt install -y openjdk-17-jre

      - name: Allow scripts
        run: chmod +x start.sh

      - name: Run server
        run: ./start.sh
      - name: Install cloudflared
        run: |
          curl -L https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64 -o cloudflared
          chmod +x cloudflared
      - name: Start Tunnel
        run: |
          ./cloudflared tunnel --url tcp://localhost:25565 > tunnel.log &
          sleep 10
          cat tunnel.log
